<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Drop and re-create the database on startup -->
        <property name="hibernate.hbm2ddl.auto"> update </property>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/usersdb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- MySQL DB dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- print all executed SQL on console -->
        <property name="hibernate.show_sql" >true </property>
        <property name="hibernate.format_sql" >true </property>

        <!--   Mapping entity file -->
        <mapping class="com.test.hib.model.User"/>
        <mapping class="com.test.hib.model.Employee"/>
        <mapping class="com.test.hib.model.Teacher"/>
        <mapping class="com.test.hib.model.Department"/>
        <mapping class="com.test.hib.model.Address"/>
        <mapping class="com.test.hib.model.Cohort"/>
    </session-factory>
</hibernate-configuration>